#menu-footer {
	min-width: 55em;
}

#menu-footer li {
	max-width: 16%!important;
}

#menu-footer li a {
	max-width: 100%!important;
}

.menu-navigation-container ul.menu li {
	max-width: 36%!important;
	font-size: 94%!important;
}

