/*
Theme Name: LFSH
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: lfsh
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

LFSH is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
13.0 - 34 Grid System
	13.1 - 34 Responsive Grid System
	13.2 - 34 Grid System Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
body {
	background: #362F2A;
	font-size: 1em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #70665d;
	font-size: 1em; /* equals 16px */
	font-size: 1.6rem;
	line-height: 1.618em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
 
	/*  font-family: 'Playfair Display';
	font-weight: 700; */
	font-size: 100%;
	line-height: 1.35em;
}
 
#ribbon h2 {
	font-family: 'Playfair Display';

}

p {
	margin-bottom: 1.5em;
}
 
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

.highlight article {
	font-family: 'Open Sans';
	font-weight: 300;
}

#bottom-pages article h2,
#bottom-pages .post h2,
#bottom-pages .page h2,
h1.entry-title,
h1.page-title {
	font-size:2.618em;
	color:#362e2a;
}

h1.page-title {
	margin-bottom: 1.35em;
}

article.post h3,
.post h3,
.page h3 {
	font-size: 1.35em;
	/*font-family: 'Open Sans',Arial,Sans-serif;*/
	font-family: 'Playfair Display',Georgia, Serif;
	line-height: 1.35em;
	font-weight: 300;
	margin-bottom:1.618em;
	color:#70665d;
}

article.post h4,
.post h4,
.page h4 {
	/* font-family: 'Open Sans',sans-serif; */
	font-family: 'Playfair Display',Georgia, Serif;
	font-weight: 600;
	margin-bottom: 1em;
}

article p:first-child,
.post p:first-child,
.page p:first-child {

}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: square;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
	height: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: rgb(252,175,23);
	text-decoration: none;
}
 
a:hover,
a:focus,
a:active {
	color: rgb(252,175,23);
	border-bottom: 1.947px solid rgb(252,175,23);

}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	padding:1.618em 0;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
	margin-left: 1.35em;
	text-align: left;
}
.main-navigation a {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1em;

}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

.first-footer .menu-footer-container ul,
.site-footer ul {
	display: inline-block;
	list-style-type: none;
	margin:  0 12%;
	padding-top: 1em;

}

#top-footer ul.menu {
		width:auto;
		max-width:100%;;
}

.first-footer .menu-footer-container ul li,
.site-footer ul li {
	float:left;
}


.first-footer .menu-footer-container ul li a,
.site-footer a {
	color:#F4F0E1;
	text-decoration: none;
	font-size: 0.834em;
	text-align: center;
	display: block;
	margin-right:0.319em;
}

.first-footer .menu-footer-container ul li a:hover,
.site-footer a:hover {
	border:none;
}



/* Small menu */
.menu-toggle {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu,
	.main-navigation.toggled .second-menu {
		display: block;
		float:right;
	}

	.main-navigation ul,
	.menu-navigation ul {
		display: none;
	}
}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 2.184em;
	margin-bottom: 3.533em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 2.184em;
	margin-bottom: 3.533em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

h1.site-header {
	clear:none!important;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

#content {
	overflow: hidden;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.hentry {
	 
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

body.archive .entry-content {
	margin-top:1em;
	padding-top:0;
}

.entry-content {
	padding-top:1.618em;

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hero article.format-image,
.hero .post.format-image {
	min-height: 800px;
	min-width: 1280px;
	background-size:100%;
	background-repeat:no-repeat;
	background-color: #362F2A;
}

.page .site-main,
.page article.page,
.post article.post,
.entry-header,
.error404 .site-main,
.site-main,
.page-header {
	background-color: #fff;
}

.page .site-main,
.single .site-main,
.archive .site-main {
	padding:4.236em;
}

.highlight .posts {
	padding:0.618em;
}

.highlight article,
.highligh .post {
	display: block;
	margin:0 0 0 0.618em;
	width:91.471%;
}

.highlight article:first-child h2 {
	color:#fff;
	line-height: 1.35em;
	font-size: 1em;
}

.highlight article:first-child h2 a {
	float: right;
	margin-top: 1em;
	text-decoration: none;
}

.highlight article:nth-child(2),
.highlight .post:nth-child(2) {
	border-top: 1.947px solid rgb(252,175,23);
	border-bottom: 1.947px solid rgb(252,175,23);
}

.highlight article:nth-child(2) a,
.highlight article:nth-child(3) a {
	text-decoration: none;
}


.highlight article:nth-child(2) h2,
.highlight article:nth-child(3) h2 {
	text-decoration: none;
	margin-bottom: 1em;
}


.highlight article:nth-child(2) p,
.highlight article:nth-child(3) p {
	font-size: 0.834em;
	color:#fff;
	line-height: 1.35em;
}

.error-404 {
	min-height: 800px;
	padding:1.35em;

}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/*--------------------------------------------------------------
10.4 Branding
--------------------------------------------------------------*/


#ribbon {
	right:14.967em;
	width: 14.967em;
	max-height: 86%;
	height: 100%;
}

.site-title a,
.site-title a:hover,
.site-title a:active {
	display:block;
	max-width: 396px;
	max-height:74px;
	width: 396px;
	height:74px;
	background-image:url('../../themes/LFSH/images/lfsh-masthead-logo.png');  
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	text-indent: -9999px;
	text-decoration: none;
	border: none;
}

.yellowBorder {

	border: 3.151px rgb(252,175,23) solid;
}

.yellowBorder.bottom {
 
 	border-top:none;
 	border-right:none;
 	border-left:none;
}

.yellowBorder.top {
	border-bottom:none;
	border-left:none;
	border-right: none;
}

.highlight {
	background-color: #3C6DC0;
	opacity: 0.9;
	position: absolute;
	/*top: 5.171em;*/
	right: 14.967em;
	display: block;
}

.highlight article:first-child {
	margin-top: 1.35em;
}

.first-footer {
	background-color: #362F2A;
	position: static;
	position: relative;
	bottom:0px;
	display: block;
}


#second-half {
	background-color: #362F2A;
}

#bottom-pages {
	background-color: #ffffff;
	margin:0!important;
	overflow: scroll;
	/* right:-1.5em; */
	/* position: relative; */
	
}

#bottom-pages  {
 	overflow: auto;
}

#bottom-pages article:nth-child(2),
#bottom-pages article:nth-child(3) {
	display: none;
}

#down-header {
	height:0px;
	overflow: hidden;
	background-color: #362F2A;
	width:100%;
}

#down-header.fixed {
	position: absolute;
	top:0;
	

}

#footer.fixed {
	position:fixed;
}

.clf p {
	font-style: italic;
	font-family: 'Playfair Display',serif;
	font-size: 0.834em;
	text-align: center;

}

.clf img {
	width: 50%;
}

.footer-menu ul li a {
	text-align: left;
}

/*--------------------------------------------------------------
10.5 Structure
--------------------------------------------------------------*/

.site-footer {

}

#bottom-pages {
	height: 100%;
	 
}

#bottom-pages article {
	margin:3.533em 0 0 5.717em;
	background-color: #fff;
}

#bottom-pages article h2 {
 }

.footer-menu {
	position: relative;

}

.site-branding,
.main-navigation {
	margin-top:1em;
	margin-bottom: 15px!important;
}

.hide {
	height: 0px!important;
	overflow: hidden;
}

.show {
	height:100%;
}

.children {
	position:relative;
	top:3.533em;
	left:-3em;
	padding:1.35em;
	border-top: 0.09em rgb(252,175,23) solid;
	border-right: 0.09em rgb(252,175,23) solid;
}

.children ul {
	margin-left:1em;
}

.children ul li {
	font-size: 1em;
	padding:0;
	margin:0;
}

.children h3 {
	margin-bottom: 1em;
}

#menu-navigation,
#menu-navigation-1 {
	margin-left:15.4%;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {}


/*--------------------------------------------------------------
13.0 Finishing
--------------------------------------------------------------*/

header,
.header,
.first-footer {
	height:6.854em;
	background-color: #362F2A;

}

.archive header {
	height:auto;
	font-weight: bold;
}

.post header.entry-header,
.page header.entry-header {
	height: 2.618em;
}

.home .header {
	border-bottom: 3.151px rgb(252,175,23) solid;
}

.headerBg {
	height: 94px;
	display: block;
	background-position: 0 75%;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom: 3.151px rgb(252,175,23) solid;
}

.screenwidth { 
}

#menu-footer-1 li {
	min-width: 100%;
}


/*--------------------------------------------------------------
13.1 CSS Transitions
--------------------------------------------------------------*/

#down-header, #ribbon {
-webkit-transition: height 600ms ease-in;
-moz-transition: height 600ms ease-in;
-ms-transition: height 600ms ease-in;
-o-transition: height 600ms ease-in;
transition: height 600ms ease-in;
overflow:hidden;
}


/*--------------------------------------------------------------
14.0 34 Grid System
--------------------------------------------------------------*/

/*--------------------------------------------------------------
14.1 34 Responsive Grid System
--------------------------------------------------------------*/


/*
	Multi-state, responsive CSS grid system

	Developer	: Kemal Yılmaz
	URL			: http://34grid.com
	Contact		: http://kemalyilmaz.com
				: http://twitter.com/xkema
				: http://www.facebook.com/pages/34Grid/401562963236958
	Version		: 1.0

	LICENSED UNDER Creative Commons Attribution 3.0 Unported License.
*/




/* 
	Main width-controller for your content. think ".container"
	class as a holder for ".row" classes for a basic layout.
	Default centered with margin 0 auto; style.
	============================================================ CONTAINER ====
*/
.container { 
	margin: 0 auto;
	max-width: 1440px; 
}

.wrapper {
	max-width:960px;
	display: block;
	width:100%;
	height:100%;
	margin:0 auto;
}



/* 
	Main grouping blocks. You can dump "n*100%"" width content to a
	single ".row". (with the little help of .skip-float and manual 
	.user-float classes)
	================================================================== ROW ====
*/
.row { width: 100%; }



/* 
	A basic transitions for immediate childs of ".row" classes. I added 
	transitions assuming your html layout keeps "col_*"" elements right 
	after ".row" classes. (col_*'s are immediate childs of .row's) 
	Delete this block to get rid of transitions.
	(transitions are incompatible with some browsers. 
	("some browsers" usually refers to internet explorer :)
	====================================================== ROW TRANSITIONS ====

.row > * {
	-webkit-transition	: all 400ms ease-out;
	-moz-transition		: all 400ms ease-out;
	-o-transition		: all 400ms ease-out;
	-ms-transition		: all 400ms ease-out;
	transition			: all 400ms ease-out;	
}
*/


/* 
	Auto clearfix for all rows. Borrowed from HTML5BOILERPLATE.
	====================================================== ROW TRANSITIONS ====
*/
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }
.row { zoom: 1; }



/* 
	Column (col_*) and complement (col_*c) classes.
	.col_0 class is not a must but i added it to
	keep things organized. You can use it for 
	marginless 100% widths.
	================================================ COLUMNS & COMPLEMENTS ====
*/

/* columns & complements (autogenerated styles) */
.col_0 {
	width: 100%;
	margin-bottom: 30px;
	display: block;
}

.col_1,
.col_2,
.col_3, .col_3c,
.col_4, .col_4c,
.col_5, .col_5c,
.col_6, .col_6c {
	margin-left		: 0.618%;
	margin-right	: 0.618%;
	margin-bottom	: 30px;
	float		: left;
	display		: block;
}

/* columns (autogenerated styles) */
.col_1 { width: 98.764%; }
.col_1s {width:	67.773%; }
.col_2 { width: 48.764%; }
.col_3 { width: 32.0973333333%; }
.col_4 { width: 23.764%; }
.col_5 { width: 18.764%; }
.col_6 { width: 15.4306666667%; }

/* complements (autogenerated styles) */
.col_3c { width: 65.4306666667%; }
.col_4c { width: 73.764%; }
.col_5c { width: 78.764%; }
.col_6c { width: 82.0973333333%; }



/* 
	100% width auto control for "img", "object" and
	"embed" controls.
	============================================ IMAGE FULL WIDTH CONTROLS ====
*/
img, object, embed { max-width: 100%; }
img { height: auto; }
figure img { max-width: 100%; }



/* 
	Use ".skip-float" class to start from brand new lines.
	Clears left of current 100% group for new 100% 
	lines in same ".row" group.
	@see webpage for details
	=============================================== FLOATING PROBLEM FIXER ====
*/
.skip-float { clear: left; }



/*	
	CSS hack for responsive videos.
	@see http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
	@see http://webdesignerwall.com/tutorials/css-elastic-videos
	========================================================= VIDEO HOLDER ====
*/
.video-holder {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	display: block;
}

.video-holder iframe, .video-holder object, .video-holder embed {
	position: absolute;	top: 0;	left: 0; width: 100%; height: 100%;
}




/*--------------------------------------------------------------
14.2 34 Grid System Media Queries
--------------------------------------------------------------*/

/*
	34 Responsive Grid System
	Multi-state, responsive CSS grid system

	Developer	: Kemal Yılmaz
	URL			: http://34grid.com
	Contact		: http://kemalyilmaz.com
				: http://twitter.com/xkema
				: http://www.facebook.com/pages/34Grid/401562963236958
	Version		: 1.0

	LICENSED UNDER Creative Commons Attribution 3.0 Unported License.
*/



/* 
	===================================== DESKTOP, LARGE SCREENS ====
*/
@media only screen and (min-width: 1200px) {
	
	/* user styles goes here */



}



/* 
	=========================================== DESKTOP < 1200px ====
*/
@media only screen and (max-width: 1200px) {

	/* autogenerated styles */

	/* user styles goes here */

	#ribbon {
	right:4.236em;
}

}



/* 
	============================================= IPAD LANDSCAPE ====
*/
@media only screen and (max-width: 1024px) {

	/* autogenerated styles */
	.col_6 { width:32.0973333333%; }

	.col_6c { width: 65.4306666667%; }

	/* user styles goes here */

	.screenwidth {
	z-index:10.24;
	}	

	.main-navigation a {
		font-size: 0.834em;
	}

	.site-footer {
		width: 22%;
	}

	.site-main,
	#bottom-pages {
		min-width: 75%
	}
	
	#bottom-pages .post {
		min-width: 80%;
	}
}



/* 
	============================================== IPAD PORTRAIT ====
*/
@media handheld, only screen and (max-width: 768px) {

	/* autogenerated styles */
	.col_4 { width:48.764%; }
	.col_6 { width:48.764%; }

	.col_4c { width: 48.764%; }
	.col_6c { width: 48.764%; }

	/* user styles goes here */

	body {
		font-size:120%;
	}
	
	.screenwidth {
	z-index:7.68;
}	

	.site-footer {
		width: 20%;
	}

	.children {
		width: 36%;
	}

	.site-title a,
	.site-title a:hover {
		background-size: 90%;
	}

	.site-branding {
		width:44%;
	}

	.main-navigation {
		width: 52%;
	}

	.main-navigation li {
		margin-left: 1em;
		}

	.page .site-main, .archive .site-main {
		padding: 3.533em;
}
	body #home, #ribbon {
	/*	max-height: 400px!important; */
		overflow: hidden;
	}

	#ribbon {
		min-height: 70%!important;
	}

	#bottom-pages {
		width: 79%;
	}

	#bottom-pages article {
		width: 78%;
		
	}
	
	#request-assistance {
		height: auto;
		display: inline-block;
	}

.first-footer .menu-footer-container ul {
		margin:  0 1em;
	}
	
	ul.nav-menu li a,
	ul.second-menu li a {
		font-size:0.618em;
	}
	
	#request-assistance {
		display: inline-block!important;
	}
	
	 
	
}



/* 
	=========================================== IPHONE LANDSCAPE ====
*/
@media handheld, only screen and (max-width: 640px) {

	/* autogenerated styles */
	.col_2 { width:98.764%; }
	.col_3 { width:98.764%; }
	.col_4 { width:98.764%; }
	.col_5 { width:98.764%; }
	.col_6 { width:98.764%; }

	.col_2c { width: 98.764%; }
	.col_3c { width: 98.764%; }
	.col_4c { width: 98.764%; }
	.col_5c { width: 98.764%; }
	.col_6c { width: 98.764%; }

	/* user styles goes here */

	.screenwidth {
	z-index:6.4;
	}	

	.main-navigation,
	.main-navigation {
		padding:0;
	}

	.site-branding,
	.main-navigation {
		margin-bottom: 0!important;
	}

	.site-branding,
	.main-navigation {
		margin-top: 0;
	}


	.main-navigation {
		width: 100%;
		display: block;
	}

	.menu-navigation-container {
		margin:0 auto;
		display: block;
		height: 0.834em;

	}

	.main-navigation li {
		margin-left: 3.533em;
	}

	.site-title a,
	.site-title a:hover {
		width: 100%;
		max-width: 100%;
		max-height: 52px;
	}

	.highlight article:first-child h2 {
		font-size: 1em;
	}

	.highlight article:nth-child(2) h2, .highlight article:nth-child(3) h2, p {
		margin-bottom: 0.834em;
	}

	.hero article.format-image, .hero .post.format-image {
		background-size: 60%;
	}

	#ribbon {
		right: 1em;
	}

	.first-footer .menu-footer-container ul, .site-footer ul {
		margin:0 1%;
	}

	.first-footer .menu-footer-container ul li a, .site-footer a {
		margin-right: -0.197em;
	}

	/* .menu-toggle {
		position: relative;
		bottom:2.618em;
		right:2.184em;
	}
*/
}


/* 
	============================================ Transition size ====
*/

@media handheld, only screen and (max-width: 520px) {

span.screenwidth {
	z-index:5.2!important;
}	

.highlight article:nth-child(2), .highlight .post:nth-child(2),
.highlight article:nth-child(3), .highlight .post:nth-child(3) {
	width:10.089em;
	
}

.highlight article:nth-child(2), .highlight .post:nth-child(2) {

	margin-right:1.35em;
}

#ribbon {
	top:16.967em!important;
	right:0em;
	width: 100%;
}

.highlight article:nth-child(2), .highlight .post:nth-child(2) {
	border-bottom: none;
}

.highlight article:nth-child(3), .highlight .post:nth-child(3) {

	border-top: 1.947px solid rgb(252,175,23);
}

.hero article.format-image, .hero .post.format-image {
	background-size: 42%;

}

	.main-navigation a {
		font-size: 0.618em;
	}

	.main-navigation li {
	margin-left: 2.184em;
}


	.site-title a,
	.site-title a:hover {
		width: 90%;
		max-width: 100%;
		max-height: 52px;
		margin:0.516em auto;
		
	}

	#home.hero {
		min-height:350px!important;
		height:500px!important;
	}

	header, .header,
	#top-footer {
		height: auto;
		
	}

	#top-footer {
		min-height: 10%;
		max-height:40%;
		height: 100%;
	}

	#site-navigation {
		width: 80%;
		height:0;
	}

	#site-navigation.toggled,
	#second-navigation.toggled {
		height: 100%;
	}

	.main-navigation li {
		margin-left: none;
		width: 100%;

	}

	.menu-navigation-container {
		height: auto;
	}

	.main-navigation a {
		font-size: 100%;
		clear:both;
	}

	.button.mobile.menu-toggle.hide {
		display:none;
	}

	.button.mobile {
		background-color: #362F2A;
		width:10%;
		color:#FAAD35;
		border:none;
		position:absolute;
		top:3%;
		right:3%;
		font-size: 1.35em;
		float:right;
	}

	.first-footer {
		height: 9.25em;
	}

	#down-header.fixed {
		/* height: 150%!important; */
	}

	#down-header.fixed {
		top:3.53em;
	}

	#down-header {


	}

	#menu-navigation {
		margin-bottom: 0.516em;
	}

	#down-header h1.site-title {
		margin-bottom: -10px!important;
	}


}

/* 
	============================================ IPHONE PORTRAIT ====
*/




@media handheld, only screen and (max-width: 320px) {

	/* autogenerated styles */
	/* reset .container width and max-width (in case user defines an explicit #id for her/his .container classes) */
	.container { width: 100% !important; max-width: 100% !important; }

	.col_1,
	.col_2,
	.col_3, .col_3c,
	.col_4, .col_4c,
	.col_5, .col_5c,
	.col_6, .col_6c {
			width		: 92%;
			margin-left	: 0%;
			margin-right	: 0%;
			padding-left	: 4%;
			padding-right	: 4%;
	}

	/* user styles goes here */

	.screenwidth {
	z-index:3.2;
}	

.highlight article:nth-child(2), .highlight .post:nth-child(2),
.highlight article:nth-child(3), .highlight .post:nth-child(3) {
	width:8.8em;
}

	.main-navigation li {
	margin-left: 1.618em;
	font-size: 0.834em;
}

#ribbon {
	height: 90%;
}

#menu-footer li a {
	max-width: 5.717em;
	font-size: 0.7em;
}

#footer {
	display: none;
}

#bottom-pages {
	width: 100%;
	min-height: 29.03em;
}

#bottom-pages article,
#bottom-pages .post {
	width:92%;
	margin:1em 0 0 1em;
}

.site-main {
	min-width: 88%;	
}
 
 #second-half #second-button {
 	top:10px;
 }

 .page .button.mobile,
 .post .button.mobile,
 .archive .button.mobile,
 .single .button.mobile {
 	top:23%;
 }

 .site-main {
 	width: 100%;
 }

 .children {
 	border:none;
 	display: inline-block;
 	float:left;
 	width: 100%!important;
 	margin-left: 3.533em
 }

 .children ul {
 	

 	
 }

.children ul li:after {
	content: ' >';
}

h1.page-title {
	font-size: 2.184em;
}

.wpcf7-form-control {
	max-width: 14.967em;
}

.single .site-main {
	padding:1.618em 0 0 2.618em;
	width: 100%;
}


}

/* 
	============================================ SO SMALL PHONES ====
*/
@media handheld, only screen and (max-width: 240px) {
	
	/* user styles goes here */

}


